 body {
    background: linear-gradient(to right, skyblue, #4B0082);
}

h1,
h2 {
    font-family: "Bahnschrift Light Condensed ";
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 26px;
}

h1,
h2 {
    text-align: center;
}

h3 {
    font-size: 18px;
    line-height: 1.6;
    margin: 6px 0;
}

li {
    font-size: 18px;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.anh-phai {
    float: right;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.frame {
    width: 1158px;
    padding: 30px;
    border-radius: 20px;
    background-color: azure;
    border: 2px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    height: auto;
    overflow: hidden;
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.frame h2 {
    color: #2b5c8a;
    margin-bottom: 10px;
}

.frame-img {
    width: 260px;
    height: auto;
    border-radius: 22px;
    display: block;
    margin: 0 auto 20px;
}

.highlight {
    color: #2b5c8a;
    font-size: 22px;
    font-weight: 700;
}

.ba {
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-bottom: 30px;
}

.ba-img {
    border-radius: 10px;
}

.frame-small {
    width: 1158px;
    padding: 30px;
    border-radius: 20px;
    background-color: azure;
    border: 2px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    height: auto;
}

.quote {
    color: #2b5c8a;
    font-size: 26px;
    font-family: "Bahnschrift Light Condensed";
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.shadow-title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    color: #F0F8FF;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.shadow-title2 {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    color: #1A1A1A;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.star-title {
    text-align: center;
    font-size: 32px;
    color: #2b5c8a;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Segoe UI", sans-serif;
}